.header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container{
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 100%;
    position: sticky;
    background-color: white;
    
}
.container .logo img{
    max-height: 70px;
    padding-left: 20px;
}
.container .searchbar input{
    height: 2rem;
    width: 650px;
    border: 2px solid gray;
    border-radius: 50px;
    text-indent: 40px;
}
.searchbar i{
    position: absolute;
}
.icon{
    padding: 10px;
    min-width: 40px;
}
.container .nav{
    padding-right: 20px;
}
.container .nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container .nav ul li{
    list-style: none;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #524e4e;
}
.container .nav ul li span img{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 5px;
}
.SimpleImageSlider img {
    height: 2px;
}