.Header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Header{
    background-color: #f35b23;
}
.search{
    width: 35rem;
}
.search i{
    position: absolute;
}
.icon{
    padding: 10px;
    min-width: 40px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    margin: 0;
    padding: 0;
    height: 8vh;
    width: 100%;
    position: sticky;
    background-color: #f35b23;
}
.ho{
    background-color: white;
    width:60%;
    justify-content: center;

}
.con{
    width: 100%;
    display: flex;
    top: 600px;
    position: absolute;
    justify-content: center;

}
.bb{
    position: absolute;
    top: 600px;
}
.flash{
    
    position: absolute;
    top: 540px;
}
.flash h2{
    font-size: 25px;
    font-weight: 500;
}
.container .logo img{
    max-height: 70px;
    padding-left: 20px;
}
.container .searchbar input{
    height: 2.3rem;
    width: 650px;
    border: 2px solid gray;
    border-radius: 50px;
    text-indent: 40px;
}
.searchbar i{
    position: absolute;
}
.icon{
    padding: 10px;
    min-width: 40px;
}
.container .nav{
    padding-right: 20px;
}
.container .nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container .nav ul li{
    list-style: none;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #524e4e;
}
.container .nav ul li span img{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 5px;
}
.slider{
    padding-top: 6px;
    display: absolute;
}